*.pyc
*__pycache__
itierra/*/migrations/*
!itierra/*/migrations/__init__.py
secrets.json
service_account.json

itierra/media/*
!itierra/media/pruebas
!itierra/media/tmp/init.txt

.vscode/
.idea/
*.bash
geckodriver.exe
geckodriver.log
tests

.vscode

*.rdb

.ngrok.exe